@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,700;1,400&display=swap');

:root{
    --primary-color: rgb(13,106,134);  /*-- declaração de variaveis em css(--) */
}
*{ /* o (*) seletor universal realiza configuraçoes na pagina inteira*/
    box-sizing: border-box; /* */
    outline: none; /*Não define contorno; outline => contorno */    
}
body{
    font-size: 1.3em;
    margin: none;
    padding:none; /*nao configura espaços dentro dpo budy*/
    background-color: var(--primary-color);
    font-family: "open-sans", sans-serif; 
    line-height: 1.5em;
}
.container{
    max-width: 640px;
    margin:100px auto;
    background-color: white;
    padding: 30px;
    border-radius: 20pt; 
    box-shadow: 5px 5px 5px black;
    
}

form input, form label, form button{
    display: block;
    width: 100%;
    margin-bottom: 10px;   
}
form input{
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
    box-shadow: 2px 2px 2px black;  
    border-radius: 10px;
}
form input:focus {
    outline: 1px solid var(--primary-color);
    background-color: rgb(181, 240, 244);
    
}
form input:hover{
    background-color: rgb(181, 240, 244);
}
form button{
    font-size: 24px;
    height: 50px;
    width: 200px;
    margin:auto;
    box-shadow: 2px 2px 2px black;
    cursor: pointer;
    border-radius: 10px;
}
form button:focus{
    background-color: rgb(245, 72, 72);
}
form button:hover{
    background-color: rgb(245, 72, 72);
}
.calculadora{
    width: 500px;
    margin: 40px;
    border: 1px solid black;
    box-shadow: 10px 15px 10px black;
    border-radius: 10px;
    background-color: aqua;
}
.btn{
    width: 80%;  /*largura de 1000 por cento da calculadora*/
    font-size: 1em; /*tamanho da fonte */
    padding: 5px; /*espacamento dentro do botao */
    margin: 1px; /* margem entre botoes */
    margin-bottom: 10px;
    border: none; /*retira a borda dos botoes */
    background-color: #dfdfdf; /*cor dos botoes cinza */
    cursor: pointer; /*coloca cursor maozinha */
    box-shadow: 8px 8px 8px black;
}
.btn:hover {
    background-color: #c3c1c1;
}

.display{
    font-size: 2em; /*Tamanho fonte  */
    width: 97%; /*largura do input  */
    text-align: right; /* texto alinhado a direita*/
    padding: 1px; /*espacamento por dentro do input */
    background-color: black;
    color: white;
    margin-bottom: 10px;
    
    box-shadow: 15px 15px 15px black;
}
